odevler/todoApp/.gitignore
odevler/todoApp/.metadata
odevler/todoApp/analysis_options.yaml
odevler/todoApp/pubspec.lock
odevler/todoApp/pubspec.yaml
odevler/todoApp/README.md
odevler/todoApp/android/.gitignore
odevler/todoApp/android/build.gradle
odevler/todoApp/android/gradle.properties
odevler/todoApp/android/settings.gradle
odevler/todoApp/android/app/build.gradle
odevler/todoApp/android/app/src/debug/AndroidManifest.xml
odevler/todoApp/android/app/src/main/AndroidManifest.xml
odevler/todoApp/android/app/src/main/kotlin/com/example/kisiler_uygulamasi/MainActivity.kt
odevler/todoApp/android/app/src/main/res/drawable/launch_background.xml
odevler/todoApp/android/app/src/main/res/drawable-v21/launch_background.xml
odevler/todoApp/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
odevler/todoApp/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
odevler/todoApp/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
odevler/todoApp/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
odevler/todoApp/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
odevler/todoApp/android/app/src/main/res/values/styles.xml
odevler/todoApp/android/app/src/main/res/values-night/styles.xml
odevler/todoApp/android/app/src/profile/AndroidManifest.xml
odevler/todoApp/android/gradle/wrapper/gradle-wrapper.properties
odevler/todoApp/ios/.gitignore
odevler/todoApp/ios/Flutter/AppFrameworkInfo.plist
odevler/todoApp/ios/Flutter/Debug.xcconfig
odevler/todoApp/ios/Flutter/Release.xcconfig
odevler/todoApp/ios/Runner/AppDelegate.swift
odevler/todoApp/ios/Runner/Info.plist
odevler/todoApp/ios/Runner/Runner-Bridging-Header.h
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
odevler/todoApp/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
odevler/todoApp/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
odevler/todoApp/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
odevler/todoApp/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
odevler/todoApp/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
odevler/todoApp/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
odevler/todoApp/ios/Runner/Base.lproj/LaunchScreen.storyboard
odevler/todoApp/ios/Runner/Base.lproj/Main.storyboard
odevler/todoApp/ios/Runner.xcodeproj/project.pbxproj
odevler/todoApp/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
odevler/todoApp/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
odevler/todoApp/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
odevler/todoApp/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
odevler/todoApp/ios/Runner.xcworkspace/contents.xcworkspacedata
odevler/todoApp/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
odevler/todoApp/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
odevler/todoApp/lib/main.dart
odevler/todoApp/lib/cubit/anasayfa_cubit.dart
odevler/todoApp/lib/cubit/detay_cubit.dart
odevler/todoApp/lib/cubit/kayit_cubit.dart
odevler/todoApp/lib/entity/yapilacak.dart
odevler/todoApp/lib/repo/yapilacaklardao_repository.dart
odevler/todoApp/lib/sqlite/veritabani_yardimcisi.dart
odevler/todoApp/lib/views/anasayfa.dart
odevler/todoApp/lib/views/detay_sayfa.dart
odevler/todoApp/lib/views/kayit_sayfa.dart
odevler/todoApp/test/widget_test.dart
odevler/todoApp/veritabani/todoapp.db
odevler/todoApp/web/favicon.png
odevler/todoApp/web/index.html
odevler/todoApp/web/manifest.json
odevler/todoApp/web/icons/Icon-192.png
odevler/todoApp/web/icons/Icon-512.png
odevler/todoApp/web/icons/Icon-maskable-192.png
odevler/todoApp/web/icons/Icon-maskable-512.png
odevler/todoApp/windows/.gitignore
odevler/todoApp/windows/CMakeLists.txt
odevler/todoApp/windows/flutter/CMakeLists.txt
odevler/todoApp/windows/flutter/generated_plugin_registrant.cc
odevler/todoApp/windows/flutter/generated_plugin_registrant.h
odevler/todoApp/windows/flutter/generated_plugins.cmake
odevler/todoApp/windows/runner/CMakeLists.txt
odevler/todoApp/windows/runner/flutter_window.cpp
odevler/todoApp/windows/runner/flutter_window.h
odevler/todoApp/windows/runner/main.cpp
odevler/todoApp/windows/runner/resource.h
odevler/todoApp/windows/runner/runner.exe.manifest
odevler/todoApp/windows/runner/Runner.rc
odevler/todoApp/windows/runner/utils.cpp
odevler/todoApp/windows/runner/utils.h
odevler/todoApp/windows/runner/win32_window.cpp
odevler/todoApp/windows/runner/win32_window.h
odevler/todoApp/windows/runner/resources/app_icon.ico
